
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Luxurious+Roman&family=Poiret+One&family=Roboto:wght@100;300;400;700;900&display=swap');
.card {
	margin: 40px;
	border: 1px solid black;
	/* background-color: black; */
	background-image: url('../images/Lifter-Gloss-Slide-Desktop-VerA.jpeg');
	color: rgb(0, 0, 0);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Luxurious Roman';
	font-size: x-large;
	
	/* text-shadow: 1px 1px #000000; */
	/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

h1 {
	color: white;
	padding: 8px;
	margin-top: 4%;
}
