body {
	/* background-image: url('./images/photo-1512207846876-bb54ef5056fe.jpeg'); */

	background-size: cover;
}
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.h1 {
  color: rgb(165, 132, 158);
  margin-top: 4%;
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(244,210,225,1) 19%, rgba(242,230,238,1) 49%, rgba(241,204,239,1) 76%, rgba(238,193,238,0.4542191876750701) 100%);
}